<%
// Get Link
function getLink(name){
  // Reddit
  var redditLink = (/u\/(.+)/).exec(name);
  if(redditLink){return "http://reddit.com/u/"+redditLink[1];}
  // Twitter
  var twitterLink = (/@(\w+)/).exec(name);
  if(twitterLink){return "https://twitter.com/"+twitterLink[1];}
  // Website
  var websiteLink = (/([\w\.]+\.\w+)/).exec(name); // Multiple subdomains
  if(websiteLink){return "http://"+websiteLink[1];}   
  return null;
} %>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Thanks for contributing!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%- include header-includes.ejs %>
      <%- include analytics.ejs %>
      <%- include social-metadata.ejs %>
      <script>
        <% var transactionid = transaction.payment_data.id + "a93"; 
        transactionid = transactionid.slice(3) + Math.random().toString(36).substr(2, 5);%>
        ga('require', 'ecommerce', 'ecommerce.js');
        ga('ecommerce:addTransaction', {
          'id': '<%=transactionid%>',                // Transaction ID. Required.
          'revenue': '<%=transaction.amount%>',                     // Grand Total.
          'affiliation': '<%=transaction.payment_method%>'   // Affiliation or store name.
        });
        ga('ecommerce:send');
      </script>
</head>

<body id="thanks">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=161296230719113";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div class="jumbotron thanks">
    <div class="container">
      <h1>Thanks for contributing <%
			var name = transaction.custom.name || "";
			var link = getLink(name);
			if(link){%>
				<a href="<%=link%>" target="_blank"><%=name%></a>!
			<%}else if(name==""){%>
				Anonymous!
			<%}else{%>
				<%=name%>!
			<%}%></h1>
      <p>A confirmation email for your contribution of $<%=transaction.amount%> of has been sent to <%=transaction.custom.email%>. <br />We'll let you know once the prize has been claimed.</p>
    </div>

    <div id="prize">
      <div class="container" >
        <h3>Let the world know!</h3>

	    <div id="share_sidebar">
	            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="//platform.twitter.com/widgets/tweet_button.1384994725.html#_=1385324572076&amp;count=vertical&amp;id=twitter-widget-0&amp;lang=en&amp;url=https://IsiOS7jailbrokenyet.com&amp;related=sinak&amp;size=m&amp;text=I just donated to the Device Freedom Prize. Want to know more?&amp;url=https://IsiOS7jailbrokenyet.com" class="twitter-share-button twitter-tweet-button twitter-count-vertical" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 56px; height: 62px;"></iframe>

	            <div id="share-spacer"></div>

	            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
	    </div>

        <div id="donate">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="details">
    <div class="criteria">
      <h2><a href="/">Click here to return to the homepage</a></h2>
    </div>

  </div>

  <!-- FOOTER -->
  <script src="https://code.jquery.com/jquery.js"></script>

</body>
</html>
