<%
var artists = [
	
	{
		id: "hal",
		bg: "/bundle/artists/bg/hal.png",
		logo: "/bundle/artists/logo/hal.png",

		bio: "/bio/hal",
		preview: "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7862666",
		download: "https://s3.amazonaws.com/openbundle/HalcyonicFalconX.zip"
	},

	{
		id: "jimp",
		bg: "/bundle/artists/bg/jimp.png",
		logo: "/bundle/artists/logo/jimp.png",

		bio: "/bio/jimp",
		preview: "https://imgur.com/a/AWryT/embed",
		download: "https://s3.amazonaws.com/openbundle/Jimp.zip"
	},
	
	{
		id: "ncase",
		bg: "/bundle/artists/bg/ncase.png",
		logo: "/bundle/artists/logo/ncase.png",

		bio: "/bio/ncase",
		preview: "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F4646796%3Fsecret_token%3Ds-67kGf",
		download: "https://s3.amazonaws.com/openbundle/NutcaseNightmare.zip"
	},
	
	{
		id: "strat",
		bg: "/bundle/artists/bg/strat.png",
		logo: "/bundle/artists/logo/strat.png",

		bio: "/bio/strat",
		preview: "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7811986",
		download: "https://s3.amazonaws.com/openbundle/Stratkat.zip"
	},
	
	{
		id: "kenney",
		bg: "/bundle/artists/bg/kenney.png",
		logo: "/bundle/artists/logo/kenney.png",

		bio: "/bio/kenney",
		preview: "https://imgur.com/a/4zg0g/embed",
		download: "https://s3.amazonaws.com/openbundle/Kenney.zip"
	},
	
	{
		id: "mind",
		bg: "/bundle/artists/bg/mind.png",
		logo: "/bundle/artists/logo/mind.png",

		bio: "/bio/mind",
		preview: "https://www.youtube-nocookie.com/embed/mjetg-IHoz8?rel=0&html5=1",
		download: "https://s3.amazonaws.com/openbundle/MindChamber.zip"
	}

];

%>
<div id="artists_lineup">

	<% 
	for(var i=0; i<artists.length; i++){
		var artist = artists[i];
	%>
		<div id="<%=artist.id%>" style="background-image:url(<%=artist.bg%>);">

			<div id="logo" style="background-image:url(<%=artist.logo%>);"></div>

			<% if(SHOW_DOWNLOADS){ %>
			<div class="artist_button" id="artist_download" onclick="openInNewTab('<%=artist.download%>');">
				<div style="background:url(/bundle/img/download.png);"></div>
				<span>download</span>
			</div>
			<% } %>

			<% if(artist.preview){ %>
			<div class="artist_button" id="artist_preview" onclick="showModal('<%=artist.preview%>');">
				<div style="background:url(/bundle/img/preview.png);"></div>
				<span>preview</span>
			</div>
			<% } %>

			<div class="artist_button" id="artist_bio" onclick="showModal('<%=artist.bio%>');">
				<div style="background:url(/bundle/img/bio.png);"></div>
				<span>full bio</span>
			</div>

		</div>
	<%
	}
	%>

</div>

<div id="modal_overlay" style="display:none">
	<div onclick="hideModal()"></div>
	<div>
		<iframe
			id="modal_iframe"
			width="800" height="450"
			src=""	
			frameborder="0" allowfullscreen>
		</iframe>
		<div id="modal_close" onclick="hideModal()">
			CLOSE
		</div>
	</div>
</div>

<script src="/bundle/js/artists.js"></script>
