<%

var project = {
	title: "The Open Game Art Bundle",
	banner: "/bundle/img/splash.jpg",
	goal: 10000
};

// Parse all floats
transactions = transactions.map(function(transaction){
	transaction.amount = parseFloat(transaction.amount);
	return transaction;
});

// Remove broken transactions
transactions = transactions.filter(function(transaction){
	if(isNaN(transaction.amount)) return false;
	if(transaction.amount<1) return false;
	return true;
});

// Sort transactions
transactions.sort(function(a,b){
	return parseFloat(b.amount) - parseFloat(a.amount);
});

// Sum up transactions
var total_raised = transactions.reduce(function(previousValue,currentValue){
	return previousValue + parseFloat(currentValue.amount);
},0);

var SHOW_DOWNLOADS = false;

%>

<head>

	<title>The Open Bundle</title>
	<link rel="shortcut icon" href="/favicon.ico" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	
	<link href="/bundle/css/bundle.css" rel="stylesheet" type="text/css">
	<link href="/bundle/css/artists.css" rel="stylesheet" type="text/css">
	<link href="/bundle/css/payments.css" rel="stylesheet" type="text/css">
	<link href="/bundle/css/footer.css" rel="stylesheet" type="text/css">

	<!-- Google Analytics -->
	<script>

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39550435-1']);
	  _gaq.push(['_setDomainName', 'commonly.cc']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>


	<!-- SPLASH INFO -->

	<div id="splash">
		<div id="splash_bg" style="background-image:url(<%=project.banner%>)"></div>
		<div id="splash_info">

			<!-- The Title -->
			<div id="splash_title">
				<%=project.title%>
			</div>

			<!-- Informational Video -->
			<div id="video_container">
				<iframe
					id="video"
					width="640" height="360"
					src="https://www.youtube-nocookie.com/embed/4Cv2SCVoY4g?rel=0&html5=1"
					frameborder="0" allowfullscreen>
				</iframe>
			</div>

			<!-- Funding Progress Bar -->
			<div id="splash_funding">
				<% var funding_message = "RAISED $"+total_raised.toFixed(0)+" OUT OF $"+project.goal+" FROM "+transactions.length+" BACKERS"; %>
				<div id="splash_funding_bg"></div>
				<div id="splash_funding_message"><%=funding_message%></div>
				<div id="splash_funding_bar"><div><%=funding_message%></div></div>
				<script>document.getElementById("splash_funding_bar").style.width = "<%=(total_raised/project.goal)*100%>%";</script>
			</div>

			<!-- Pledge Button -->
			<div id="splash_cta" onclick="swingTo('#pledge')">PLEDGE</div>

		</div>

		<!-- Countdown -->
		<div id="countdown_container">
			<div id="countdown"></div>
		</div>
	</div>




	<!-- FURTHER INFORMATION -->

	<div style="background:#fff; overflow:hidden">

		<br><br>

		<!-- Markdown Description -->
		<div id="preview" style="background:#fff; overflow:hidden">
			<% include description.ejs %>
		</div>

		<!-- Anypay -->
		<div id="pledge" class="horizontal_ribbon" style="margin:0 0 200px 0;">
			<% include payments.ejs %>
		</div>

	</div>



	<!-- SCRIPTS: Load before footer, so social buttons don't delay these -->
	<script src="/bundle/js/html5slider.js"></script>
	<script src="/bundle/js/projectView.js"></script>
	<script>
		var PAYPAL_ACTION = "<%=environment.PAYPAL_ACTION%>";
		var PAYPAL_RECEIVER_EMAIL = "<%=environment.PAYPAL_RECEIVER_EMAIL%>";
		var STRIPE_PUBLIC_KEY = "<%=environment.STRIPE_PUBLIC_KEY%>";
	</script>
	<script src="/anypay/anypay.js"></script>
	<script src="https://checkout.stripe.com/v2/checkout.js"></script>


	<!-- FOOTER -->
	<%- include footer.ejs %>


</body>
