<div id="transactions_section" style="width:800px" >

	<!-- AWESOME LEADERBOARD -->
	<%

	// Get Link
	function getLink(name){

		// Reddit
		var redditLink = (/u\/(.+)/).exec(name);
		if(redditLink){
			return "http://reddit.com/u/"+redditLink[1];
		}

		// Twitter
		var twitterLink = (/@(\w+)/).exec(name);
		if(twitterLink){
			return "https://twitter.com/"+twitterLink[1];
		}

		// Website
		var websiteLink = (/([\w\.]+\.\w+)/).exec(name); // Multiple subdomains
		if(websiteLink){
			return "http://"+websiteLink[1];
		}		

		return null;
	}


	%>
	<div id="leaderboard" style="width:800px" collapsed>

		<h1 style="
    text-align: center;
    font-size: 50px;
">The Open Bundle's Top Backers</h1>

		<hr>

		<!--$<%=total_raised%> from <%=transactions.length%> awesome people.-->

		<ol style="font-size: 30px; width: 650px; margin: 0 auto;">
			<%
			for(var i=0;i<transactions.length;i++){ 
				var tx = transactions[i];
			%>
				<li>
					<%
					var name = tx.custom.name || "";
					var link = getLink(name);
					if(link){%>
						<a href="<%=link%>" target="_blank"><%=name%></a>
					<%}else if(name==""){%>
						<span>Anonymous</span>
					<%}else{%>
						<%=name%>
					<%}%>
					<span>- $<%=tx.amount.toFixed(2)%></span>
				</li>
			<%
			}
			%>
		</ol>

		<div id="show_all_donators">show all <%=transactions.length%></div>

	</div>

</div>