<div id="transactions_section">



	<!-- PAYMENTS -->
	<div id="payment_section">

		<h1>Pledge What You Want</h1>
		<hr>

		<form id="payment_form" action="#">

			<!-- Your Name -->

			Hello, what's your name?
			<br>
			<input type="text" name="custom_name" tabindex=1>
			<span class="subtitle">
				examples: John Smith,
				<a href="https://twitter.com/twitter" target="_blank">@twitter</a>,
				<a href="http://example.com" target="_blank">example.com</a>,
				<a href="http://reddit.com/u/Reddit" target="_blank">/u/Reddit</a>.
				<br>
				leave blank for anonymous purchase.
			</span>
			<br><br>

			<!-- Your Email & Newsletter -->

			What email should we send your download link to?<br>
			(Please double check!)
			<br>
			<input type="email" name="custom_email" placeholder="your@email.com" required tabindex=2>
			<input type="checkbox" name="custom_newsletter" style="padding: 0; margin: 10px 0; width: 20px;" tabindex=3>
			<span class="subtitle">let me know about future post-copyright experiments & other monthly updates.</span>

			<br><br>

			<hr>

			<!-- Custom Payment & Reward Levels -->

			How much would you like to give?

			<div class="selection_list" id="prices_list">
				<!--div onclick="set_amount(this)" value="5">
					<span>$5</span>
				</div-->
				<div onclick="set_amount(this)" value="10">
					<span>$10</span>
				</div>
				<div onclick="set_amount(this)" value="25" selected>
					<span>$25</span>
				</div>
				<div onclick="set_amount(this)" value="50">
					<span>$50</span>
				</div>
				<div onclick="set_amount(this)" value="100">
					<span>$100</span>
				</div>
				<div id="custom_amount" onclick="show_custom()">
					<span>custom</span>
				</div>
			</div>
			<div id="custom_amount_input_container" style="height:0">
				<div id="custom_amount_input" style="margin-top:5px">
					<input type="text" name="amount" pattern="\d+(\.\d+)?" placeholder="13.37" value="25.00" autocomplete="off" required>
					<span class="subtitle">a minimum amount of $1 is needed to cover transaction fees. thanks!</span>
				</div>
			</div>

			<br>
			For your contribution of $<span id="reward_amount_label">25.00</span>, you'll get everything in the bundle,
			plus the following rewards, <i>whether or not we reach our funding goal</i>.
			<br>

			<div id="reward_levels" style="margin-top:15px">
				<!--div value="1">
					<div id="reward_price"><span>$1+</span></div>
					<div id="reward_desc">All soundtracks, spritesheets, and source code in this bundle!</div>
				</div>
				<div value="5">
					<div id="reward_price"><span>$5+</span></div>
					<div id="reward_desc">Your name will be credited in the Leaderboard on this page's sidebar.</div>
				</div-->
				<div value="10">
					<div id="reward_price"><span>$10+</span></div>
					<div id="reward_desc">Your name will be credited in an AWESOME_PEOPLE.txt file in all downloadable packages.</div>
				</div>
				<div value="25">
					<div id="reward_price"><span>$25+</span></div>
					<div id="reward_desc">A DRM-free copy of the Gap Monsters and 4 Horsemen Original Soundtrack.</div>
				</div>
				<div value="50" locked>
					<div id="reward_price"><span>$50+</span></div>
					<div id="reward_desc">A DRM-free copy of the Epic Battle Fantasy 4 Original Soundtrack.</div>
				</div>
				<div value="100" locked>
					<div id="reward_price"><span>$100+</span></div>
					<div id="reward_desc">NutcaseNightmare will personally draw you or your character :The Game: style.</div>
				</div>
			</div>


			<!-- SPLIT -->
			<hr>

			How would you like to split your donation?
			<div class="selection_list" id="split_list">
				<div onclick="set_split(this);" mode="default" selected>
					<span>default split</span>
				</div>
				<div onclick="set_split(this);" mode="artists">
					<span>all to artists</span>
				</div>
				<div onclick="set_split(this);" mode="charity">
					<span>all to charity</span>
				</div>
				<div id="custom_split" onclick="show_custom_split()">
					<span>custom split</span>
				</div>
			</div>
			<div id="custom_split_input_container" style="height:0">
				<br>
				<%
				var default_splits = [

					{ name:"HalcyonicFalconX", ratio:0.15 },
					{ name:"Jimp", ratio:0.15 },
					{ name:"NutcaseNightmare", ratio:0.15 },
					{ name:"Stratkat", ratio:0.15 },
					{ name:"Kenney", ratio:0.15 },
					{ name:"MindChamber", ratio:0.15 },

					{ name:"Creative Commons", ratio:0.05 },
					{ name:"EFF", ratio:0.05 }

				];
				for(var i=0; i<default_splits.length; i++){
					var split = default_splits[i];
					%>
					<div style="float:left; width:190px; text-align:right"><%=split.name%></div>
					<input id="split_input_<%=split.name%>"
						type="range" min="0" max="1" step="0.01"
						value="<%=split.ratio%>"
						onchange="onSplitChange(this)"
						oninput="onSplitChange(this)"
						style="margin:0 10px 15px 10px; width:300px; float:left;">
					<div style="float:left; width:90px; text-align:left"
						id="split_label_<%=split.name%>">$<%=(split.ratio*25).toFixed(2)%></div>
					<%
				}
				%>
			</div>
			<!--/span-->

			<br>
			<br>


			<!-- This Submit Button is only to prompt HTML5 Form Validation -->
			<button name="submit" style="display:none"></button>

		</form>

		<hr>

		<!-- Possible Payment Methods -->

		Finally, how would you like to pay?
		<br>
		<div id="payment_methods">
			<div class="button" onclick="pay('stripe')">Credit Card</div>
			<div class="button" onclick="pay('paypal')">PayPal</div>
			<div class="button" onclick="pay('coinbase')">Bitcoin</div>
		</div>

	</div>

	


	<!-- AWESOME LEADERBOARD -->
	<%

	// Get Link
	function getLink(name){

		// Reddit
		var redditLink = (/u\/(.+)/).exec(name);
		if(redditLink){
			return "http://reddit.com/u/"+redditLink[1];
		}

		// Twitter
		var twitterLink = (/@(\w+)/).exec(name);
		if(twitterLink){
			return "https://twitter.com/"+twitterLink[1];
		}

		// Website
		var websiteLink = (/([\w\.]+\.\w+)/).exec(name); // Multiple subdomains
		if(websiteLink){
			return "http://"+websiteLink[1];
		}		

		return null;
	}


	%>
	<div id="leaderboard" collapsed>

		<h1>Leaderboard</h1>
		<hr>

		<!--$<%=total_raised%> from <%=transactions.length%> awesome people.-->

		<ol>
			<%
			for(var i=0;i<transactions.length;i++){ 
				var tx = transactions[i];
			%>
				<li>
					<%
					var name = tx.custom.name || "";
					var link = getLink(name);
					if(link){%>
						<a href="<%=link%>" target="_blank"><%=name%></a>
					<%}else if(name==""){%>
						<span>Anonymous</span>
					<%}else{%>
						<%=name%>
					<%}%>
					<span>- $<%=tx.amount.toFixed(2)%></span>
				</li>
			<%
			}
			%>
		</ol>

		<div id="show_all_donators">show all <%=transactions.length%></div>

	</div>



</div>